<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllowedTypes</key>
	<array>
		<string>public.swift-source</string>
	</array>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>DefaultCompletionName</key>
	<string>SwiftSessionModule</string>
	<key>Description</key>
	<string>Session Module</string>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>MainTemplateFile</key>
	<string>___FILEBASENAME___</string>
	<key>SortOrder</key>
	<integer>1</integer>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>Dump</string>
			<key>Name</key>
			<string>Dump&apos;s Network Session</string>
			<key>Description</key>
			<string>Dump&apos;s Network Session</string>
			<key>Type</key>
			<string>checkbox</string>
			<key>NotPersisted</key>
			<true/>
			<key>Default</key>
			<string>true</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>Token</string>
			<key>Name</key>
			<string>Include Token Manager</string>
			<key>Description</key>
			<string>Include Token Manager</string>
			<key>Type</key>
			<string>checkbox</string>
			<key>NotPersisted</key>
			<true/>
			<key>Default</key>
			<string>true</string>
		</dict>
	</array>
</dict>
</plist>
